{% extends 'layout.html.twig' %}

{% block title %}
Mes messages reçus | {{ parent() }}
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="../assets/css/activities-clean.css">
{% endblock %}

{% block content %}
    <div class="projects-clean">
        <div class="container text-right">
            <div class="intro">
                <h2 class="text-center text-dark">Mes Messages</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div style="padding: 25px;border-style: solid;">
            <p>Nom</p>
            <p>Prénom</p>
            <p>Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
            <div class="text-center"><button class="btn btn-primary active btn-sm" type="button" style="margin: 15px;margin-top: 0;margin-bottom: 0;">Répondre</button><button class="btn btn-danger active btn-sm" type="button" style="margin: 15px;margin-top: 0;margin-bottom: 0;">Supprimer</button></div>
        </div>
    </div>
{% endblock %}
