<form method="post">
    <input type="hidden" value="{{ room.id }}" name="id">
    <input type="text" value="{{ room.room }}" name="room">
    <textarea type="text" name="description"> {{ room.description }} </textarea>
    <input type="submit" value="Valider">
</form>
