{% extends 'layout.html.twig' %}

{% block title %}
    Index {{ parent() }}
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block content %}
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-12 col-xl-12 offset-lg-0 offset-xl-0 my-auto order-lg-1 showcase-text" style="padding-right: 0;padding-bottom: 0;padding-top: 0;padding-left: 0;">
                <div class="carousel slide" data-ride="carousel" id="carousel-1">
                    <div class="carousel-inner">
                        <div class="carousel-item active"><img class="w-100 d-block" src="/assets/general/cathedralestras.jpeg" alt="Slide Image"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="/assets/general/petitefrance.jpeg" alt="Slide Image"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="/assets/general/stras.jpg" alt="Slide Image"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="/assets/general/Strasbourg.jpg" alt="Slide Image"></div>
                    </div>
                    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a>
                        <a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-1" data-slide-to="1"></li>
                        <li data-target="#carousel-1" data-slide-to="2"></li>
                        <li data-target="#carousel-1" data-slide-to="3"></li>
                    </ol>
                </div>
                <div class="features-icons bg-light text-center" style="padding-top: 0;padding-bottom: 0;">
                    <div class="row presents">
                        <div class="col-lg-3 col-xl-2 offset-lg-0 offset-xl-2">
                            <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                                <a href="#"><img class="rounded-circle img-fluid mb-3 strasGite" src="/assets/general/standard1.jpg" alt="Chambre standard"></a>
                                <h5>Chambre 1</h5>
                                <p class="font-weight-light mb-0">Chambre standard sur le thème du Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xl-2 offset-lg-0 offset-xl-0">
                            <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                                <a href="#"><img class="rounded-circle img-fluid mb-3 strasGite" src="/assets/general/standard2.jpg" alt="Chambre standard"></a>
                                <h5>Chambre 2</h5>
                                <p class="font-weight-light mb-0">Chambre standard sur le thème du Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xl-2 offset-lg-0 offset-xl-0">
                            <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                                <a href="#"><img class="rounded-circle img-fluid mb-3 strasGite" src="/assets/general/luxe1.jpg" alt="Chambre de luxe"></a>
                                <h5>Chambre 3</h5>
                                <p class="font-weight-light mb-0">Chambre de luxe sur le thème du Lorem Ipsum</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xl-2 offset-lg-0 offset-xl-0" style="padding-right: 0;">
                            <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                                <a href="#"><img class="rounded-circle img-fluid mb-3 strasGite" src="/assets/general/luxe2.jpg" alt="Chambre de luxe"></a>
                                <h5>Chambre 4</h5>
                                <p class="font-weight-light mb-0">Chambre de luxe sur le thème du Lorem Ipsum</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image:url(&quot;/assets/general/jardin.jpg&quot;);"><span></span></div>
            <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                <h2>Jardin privée</h2>
                <p class="lead mb-0">Venez profiter du calme de notre immense jardin privée ! <br>
                    Vous pourrez vous relaxer au soleil, lire un livre ou tout simplement siroter un cocktail en toute quiétude </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image:url(&quot;/assets/general/cuisine.jpeg&quot;);"><span></span></div>
            <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                <h2>Coin Bar/Restaurant</h2>
                <p class="lead mb-0">Notre gîte vous propose un coin restaurant dans lequel vous pourrez goûter à toutes les spécialitées alsaciennes </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image:url(&quot;/assets/general/spa.jpg&quot;);"><span></span></div>
            <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                <h2>Le luxe avant tout</h2>
                <p class="lead mb-0">Nos chambres de luxe sont équipées de spa/jacuzzi avec accès illimité </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}