body {
    margin-top: 102px;
}

h1 {
    text-align: center;
}

.submit {
    background: #56c6c6;
    border-radius: 20px;
    font-size: inherit;
    color: #fff !important;
    box-shadow: none;
    border: none;
    text-shadow: none;
    padding: 8px 20px;
    transition: background-color 0.25s;
}

.submit:hover, .submit:focus {
    background: #66d7d7;
}

label {
    color: white;
}

.contact {
    background:no-repeat center url("../images/general/vue_aerienne.jpg");
    background-size: cover;
    height: 705px;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.resume {
    text-align: center;
    font-size: 26px;
}

.resume p {
    color: white;
    font-weight: bold;
}

.card-body{
    text-align: center;
    align-items: center;
}
.card-text {
    color: white;
    font-size: 20px;
}

.erreur {
    text-align: center;
    color: red;
    font-size: 18px;
}

.erreur:hover {
    font-weight: bold;
    font-size: 22px;
}

.edit {
    text-align: center;
    margin-left: auto;
}

@media screen and (max-width: 767px) {
    .contact {
        display: block;
        padding: 20px;
        height: auto;
        background-position-x: 45%;
    }
    .form {
        margin-bottom: 40px;
    }
}