{% extends 'layout.html.twig' %}

{% block title %}
Réserver chez Stras'Gîte | {{ parent() }}
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="../assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block content %}
<div class="login-clean">
    <form method="post">
        <h1 class="text-center">Je réserve</h1>
        <small style="visibility:hidden" class="form-text text-muted">Help text for a form field.</small>
        <div class="form-group">
            <label for="arrival"> Arrivée </label>
            <input type="text" class="form-control" name="arrival"/>
        </div>
        <div class="form-group">
            <label for="departure"> Départ </label>
            <input class="form-control" type="text" name="departure"/>
        </div>
        <div class="form-group">
        {# fourrer une condition: si le client vient d'une chambre le choix est déjà fait  #}
            <label for="room">Choix de la chambre</label>
            <select name="roomSelect" id="room">
                <option value="">--Choisissez une chambre--</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
        <div class="form-group">
            <label for="guest">Nombre de personnes</label>
            <select name="guestSelect" id="guest">
                <option value="">--Choisissez le nombre d'invités--</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>        
        </div>
        <div class="form-group">
            <label for="childGuest">Nombre d'enfants</label>
            <select name="childGuestSelect" id="childGuest">
                <option value="">--Choisissez le nombre d'enfants--</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>        
        </div>
        <div class="form-group">
            <button class="btn btn-light active btn-block" type="submit" name="checkout">Accéder à mon récapitulatif</button>
        </div>
        <a class="forgot" style="visibility:hidden" href="#">Mot de passe oublié ?</a>
    </form>
</div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    
<script>
// date picker for arrival 
$(function() {
  $('input[name="arrival"]').daterangepicker({
    "singleDatePicker": true,
    "startDate": "10/11/2020",
    opens: 'left',
    "locale": {
        "format": "DD/MM/YYYY",
    },
  }, function(start, end, label) {
    console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
  });
});

// date picker for departure 
$(function() {
  $('input[name="departure"]').daterangepicker({
    "singleDatePicker": true,
    "startDate": "10/11/2020",
    opens: 'left',
    "locale": {
        "format": "DD/MM/YYYY",
    },
  }, function(start, end, label) {
    console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
  });
});
</script>
{% endblock %}
