{% extends 'layout.html.twig' %}

{% block title %}
    Suite de luxe {{ parent() }}
{% endblock %}

{% block content %}

    <p style="margin: 102px;"></p>
        <div class="container text-right">
            <div class="intro">
                <h1 class="text-center">Suite Royale</h1>
                <p class="text-center">Réservez votre chambre 24h/24 en ligne !<br>Passez un moment unique au cœur de Strasbourg</p>
            </div>
                    <div class="row">
                        <div class="col-md-10 col-lg-7 col-xl-7 offset-md-1 offset-lg-0 offset-xl-1"><a class="text-left" href="#"><img class="img-fluid chambre" src="/assets2/img/luxe1.jpg"></a>
                            <h6 class="text name"><br><B>Chambre à coucher moderne</B></h6>
                            <p class="text description">Cette suite de luxe est la chambre idéale pour se reposer et passer un agréable moment à Strasbourg.
                            Elle comprend : <br>
                                <ul>
                                    <li>Un lit 180x200cm pour un confort inestimable</li>
                                    <li>Une superficie de 45m²</li>
                                    <li>Climatiseur indépendant</li>
                                    <li>Un balcon, une vue sur la magnifique cathédrale</li>
                                <br>
                                <br>
                                </ul>
                            </p>
                        </div>
                        </div>
        </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-7 offset-md-1 offset-lg-0 offset-xl-4"><a href="#"><img class="img-fluid sdb"  src="/assets2/img/jacuzzi.jpg"></a>
                            <h6 class="text name"><br><B>Salle de bain</B></h6>
                            <p class="text description">Une salle de bain ultra moderne équipée de matériels très haut de gamme.<br> Elle comprend : </p>
                            <ul class="sdbb">
                                <li>Mitigeur d'exception Elizabeth</li>
                                <li>Baignoire Villeroy & Boch</li>
                                <li>Miroir lumineux</li>
                                <li>Meuble Hudson Reed</li>
                                <li>Pièce marbré</li>
                                <li>Jacuzzi ultra luxe</li>
                            </ul>
                            </div>
                        </div>
                <br>
                    <h5 class="text-center"><br><br><br><br><br>Services</h5>
                    <p><i class="fa fa-wifi"></i>&nbsp;Wi-Fi gratuit</p>
                    <p><i class="fa fa-glass"></i>&nbsp;Bar</p>
                    <img src="https://img.icons8.com/ios/50/000000/restaurant.png"fill="" size="medium" width="16" height="16" viewBox="0 0 24 24"><path d="M2.75 6h9.5a.25.25 0 0 1-.25-.25v17.5l.75-.75H2.25l.75.75V5.75a.25.25 0 0 1-.25.25zm0-1.5c-.69 0-1.25.56-1.25 1.25v17.5c0 .414.336.75.75.75h10.5a.75.75 0 0 0 .75-.75V5.75c0-.69-.56-1.25-1.25-1.25h-9.5zm3-1.5h3.5A.25.25 0 0 1 9 2.75v2.5l.75-.75h-4.5l.75.75v-2.5a.25.25 0 0 1-.25.25zm0-1.5c-.69 0-1.25.56-1.25 1.25v2.5c0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75v-2.5c0-.69-.56-1.25-1.25-1.25h-3.5zM5.25 9h4.5a.75.75 0 0 0 0-1.5h-4.5a.75.75 0 0 0 0 1.5zm0 3h4.5a.75.75 0 0 0 0-1.5h-4.5a.75.75 0 0 0 0 1.5zm0 3h4.5a.75.75 0 0 0 0-1.5h-4.5a.75.75 0 0 0 0 1.5zm0 3h4.5a.75.75 0 0 0 0-1.5h-4.5a.75.75 0 0 0 0 1.5zm0 3h4.5a.75.75 0 0 0 0-1.5h-4.5a.75.75 0 0 0 0 1.5zM7.5.75v1.5a.75.75 0 0 0 1.5 0V.75a.75.75 0 0 0-1.5 0zM15.75 24h6a.75.75 0 0 0 .75-.75V10.5A1.5 1.5 0 0 0 21 9h-4.5a1.5 1.5 0 0 0-1.5 1.5v12.75a.75.75 0 0 0 1.5 0V10.5H21v12.75l.75-.75h-6a.75.75 0 0 0 0 1.5zM19.5 8.25v1.5a.75.75 0 0 0 1.5 0v-1.5a.75.75 0 0 0-1.5 0zM.75 24h22.5a.75.75 0 0 0 0-1.5H.75a.75.75 0 0 0 0 1.5z"></path></svg> Restaurant</p>
                    <p><svg class="bk-icon -streamline-city" fill="" size="medium" width="16" height="16" viewBox="0 0 24 24"><path d="M2.75 6h9.5a.25.25 0 0 1-.25-.25v17.5l.75-.75H2.25l.75.75V5.75a.25.25 0 0 1-.25.25zm0-1.5c-.69 0-1.25.56-1.25 1.25v17.5c0 .414.336.75.75.75h10.5a.75.75 0 0 0 .75-.75V5.75c0-.69-.56-1.25-1.25-1.25h-9.5zm3-1.5h3.5A.25.25 0 0 1 9 2.75v2.5l.75-.75h-4.5l.75.75v-2.5a.25.25 0 0 1-.25.25zm0-1.5c-.69 0-1.25.56-1.25 1.25v2.5c0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75v-2.5c0-.69-.56-1.25-1.25-1.25h-3.5zM5.25 9h4.5a.75.75 0 0 0 0-1.5h-4.5a.75.75 0 0 0 0 1.5zm0 3h4.5a.75.75 0 0 0 0-1.5h-4.5a.75.75 0 0 0 0 1.5zm0 3h4.5a.75.75 0 0 0 0-1.5h-4.5a.75.75 0 0 0 0 1.5zm0 3h4.5a.75.75 0 0 0 0-1.5h-4.5a.75.75 0 0 0 0 1.5zm0 3h4.5a.75.75 0 0 0 0-1.5h-4.5a.75.75 0 0 0 0 1.5zM7.5.75v1.5a.75.75 0 0 0 1.5 0V.75a.75.75 0 0 0-1.5 0zM15.75 24h6a.75.75 0 0 0 .75-.75V10.5A1.5 1.5 0 0 0 21 9h-4.5a1.5 1.5 0 0 0-1.5 1.5v12.75a.75.75 0 0 0 1.5 0V10.5H21v12.75l.75-.75h-6a.75.75 0 0 0 0 1.5zM19.5 8.25v1.5a.75.75 0 0 0 1.5 0v-1.5a.75.75 0 0 0-1.5 0zM.75 24h22.5a.75.75 0 0 0 0-1.5H.75a.75.75 0 0 0 0 1.5z"></path></svg> Vue sur la ville</p>
                    <h5 class="text-center"><br><br>Avis clients</h5><small></small>
                </div>


{% endblock %}
