{% extends 'layout.html.twig' %}

{% block title %}
Donner mon avis | {{ parent() }}
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="../assets/css/Contact-Form-Clean.css">
{% endblock %}

{% block content %}
<div class="projects-clean">
    <div class="intro">
        <h2 class="text-center text-dark">Mon avis</h2>
    </div>
    <div class="contact-clean">
        <form method="post">
            <div class="form-group">
               <label for="noteSelect"><h3>Je donne mon avis et ma note</h3></label>
                <div class="form-group">
                    <select name="noteSelect">
                        <option value="">Sélectionner une note</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" name="message" placeholder="Mon avis..." rows="14"></textarea>
                    <button class="btn btn-light active" type="submit">Poster mon avis</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
