<header>
        <nav class="navbar navbar-light navbar-expand-lg fixed-top navigation-clean-search" >
            <div class="container-fluid"><a class="navbar-brand" href="\">Stras'Gîte</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="\">La maison</a></li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Nos chambres
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    {% for room in rooms %}
                                        <a class="dropdown-item" href="/Room/show/{{ room.id }}">Chambre {{ room.id }} </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="\Page\activities">Activités</a></li>
                        <li class="nav-item"><a class="nav-link" href="\Page\map">Nous trouver</a></li>
                        <li class="nav-item"><a class="nav-link" href="\Page\contact">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="\Login\login">Connexion à mon compte</a></li>
                    </ul>
                    <a class="btn btn-light action-button" role="button" href="\Booking\booking">Réserver</a>
                </div>
            </div>
        </nav>
</header>
